body {

  margin: 0;

  padding: 0;

  font-family: "Montserrat", sans-serif;

}

.Section {

  min-height: 90vh;

  padding-top: 50px !important;

  padding-bottom: 50px !important;

}

a.navbar-brand {

  padding-left: 15px;

}

a.nav-link {

  font-size: 17px;

  color: #000 !important;

  padding-right: 30px !important;

}

button.btn.btn-secondary.nav-button {

  background: none;

  color: #000;

  border: 1px solid #000;

  padding: 5px 20px;

  border-radius: 0;

}

button.btn.btn-secondary.nav-button:hover {

  background: #000;

  color: #fff;

  border: 1px solid #000;

  padding: 5px 20px;

  border-radius: 0;

  font-weight: 600;

}

.Section-3 {

  background-color: #efefef;

}

.Text-Field {

  padding-left: 100px;

  padding-top: 95px;

}

.Text-Heading h1 {

  font-weight: bolder;

  font-size: 55px;

}

.Text-Paragraph {

  margin-top: 20px;

  font-size: 18px;

}

button.btn.btn-secondary.Section3-button {

  margin-top: 25px;

  background: none;

  color: #000;

  padding: 12px 35px;

  border: solid 2px #000;

  border-radius: 0;

}

button.btn.btn-secondary.Section3-button:hover {

  color: #efefef;

  border: 2px solid #fff;

  background: #000;

}

.Footer {

  background-color: #efefef;

  min-height: 50vh;

}

.Left-Section {

  border-right: 1px solid #ccc;

  margin-top: 15px;

  margin-bottom: 15px;

  font-size: 14px;

  text-align: center;

  padding-left: 130px;

  padding-top: 30px;

}

.Left-Section p {

  font-size: 14px;

  margin-top: 21px;

}

.Right-Section {

  padding-top: 40px;

}

.Right-Section p {

  font-size: 14px;

}

.text-dark {

  text-decoration: none !important;

}

h5.text-uppercase {

  font-size: 15px;

  font-weight: bold;

}

.Footer-Menus {

  margin-left: 200px;

  border-top: 1px solid #ccc;

  width: 60;

}

.row.Footer-Links {

  margin-top: 20px !important;

}

span.Go-Live-Text {

  color: #1019d1;

  font-weight: 700;

  font-size: 22px;

  position: absolute;

}

ul.list-unstyled.mb-0 li {

  padding-top: 8px;

}

ul.list-unstyled.mb-0 {

  font-size: 13px;

}

ul.list-unstyled.Social-Icons.mb-0 li {

  margin-left: -10px;

  display: inline;

}

.Copyright.text-center.p-3 {

  font-size: 11px;

  padding-top: 40px !important;

}

.carousel-item {

  transition: all 0.5s ease-in-out;

}

.col-7.Slider-Text {

  background-color: #000;

}

.col-7.Slider-Text2 {

  background-color: #d9dae9;

}

.col-7.Slider-Text3 {

  background-color: #383944;

}

.row.carousel-height.m-0 {

  min-height: 60vh;

}

/* Animation delays */

.Slider-Text h1 {

  animation-delay: 0.5s;

}

.Carousel-Image2 {

  animation-delay: 0.5s;

}

.Carousel-Image1 {

  animation-delay: 1s;

}

.Carousel-Image3 {

  animation-delay: 2s;

}

.col-2.Carousel-Image1.p-0 {

  background-image: url(../img/Slider-Carousel-1.png);

  background-size: cover;

  background-repeat: no-repeat;

  overflow: hidden;

}

.col-5.p-0.Carousel-Image2 {

  background-image: url(../img/Slider-Carousel-2.png);

  background-size: cover;

  background-repeat: no-repeat;

  overflow: hidden;

  background-position: right;

}

.col-2.Carousel-Image3.p-0 {

  background-image: url(../img/Slider-Carousel-3.png);

  background-size: cover;

  background-repeat: no-repeat;

  overflow: hidden;

  background-position: right;

}

.row.Carousel-Image2.m-0 {

  height: calc(100%);

}

.row.Carousel2-Image2.m-0 {

  height: calc(100%);

}

.row.Carousel3-Image2.m-0 {

  height: calc(100%);

}

.Slider-Text h1 {

  color: #fff;

  font-size: 44px;

  font-weight: 700;

  text-align: left;

  padding-top: 125px;

  padding-left: 30px;

}

.Slider-Text2 h1 {

  color: #191acc;

  font-size: 44px;

  font-weight: 700;

  text-align: left;

  padding-top: 125px;

  padding-left: 30px;

}

.Slider-Text3 h1 {

  color: #fff;

  font-size: 44px;

  font-weight: 700;

  text-align: left;

  padding-top: 125px;

  padding-left: 30px;

}

/* .Slider-Text h1 {

  color: #fff;

  font-size: 48px;

  font-weight: 700;

  text-align: left;

  position: relative;

  left: 25px;

  top: 150px; */

/* } */

.Slider-Text2 p {

  color: #828391;

  font-size: 18px;

  font-weight: 400;

  text-align: left;

  padding-left: 25px;

}

.Slider-Text3 p {

  color: #fff;

  font-size: 18px;

  font-weight: 400;

  text-align: left;

  padding-left: 25px;

}

.col-2.Carousel2-Image1.p-0 {

  background-image: url(../img/Slider-Carousel-2.png);

  background-size: cover;

  background-repeat: no-repeat;

  overflow: hidden;

  background-position: center;

}

.col-5.p-0.Carousel2-Image2 {

  background-image: url(../img/Slider-Carousel-1.png);

  background-size: cover;

  background-repeat: no-repeat;

  background-position: left;

  overflow: hidden;

}

.col-2.Carousel2-Image3.p-0 {

  background-image: url(../img/Slider-Carousel-3.png);

  background-size: cover;

  background-repeat: no-repeat;

  background-position: right;

  overflow: hidden;

}

.col-2.Carousel3-Image1.p-0 {

  background-image: url(../img/Slider-Carousel-2.png);

  background-size: cover;

  background-repeat: no-repeat;

  overflow: hidden;

  background-position: center;

}

.col-5.p-0.Carousel3-Image2 {

  background-image: url(../img/Slider-Carousel-3.png);

  background-size: cover;

  background-repeat: no-repeat;

  background-position: right;

  overflow: hidden;

}

.col-2.Carousel3-Image3.p-0 {

  background-image: url(../img/Slider-Carousel-1.png);

  background-size: cover;

  background-repeat: no-repeat;

  background-position: left;

  overflow: hidden;

}

.row.Section-4.m-0 {

  position: relative;

  top: 50px;

}

.Image-Section.p-0 {

  /* margin-top: 100px; */

  position: absolute;

  top: 0;

}

.Section-4-Image-1 {

  height: 230px;

  width: 230px;

  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

  top: 32px;

  left: 22px;

  position: absolute;

  background-color: #d3d0c9;

  background-image: url(../img/Section4-Image1.png);

  background-size: cover;

  background-position: center center;

}

.Section-4-Image-2 {

  height: 230px;

  width: 230px;

  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

  top: 148px;

  left: 140px;

  position: absolute;

  background-color: #d3d0c9;

  background-image: url(../img/4.jpeg);

  background-size: cover;

  background-position: right;

}

.Section-4-Image-3 {

  height: 230px;

  width: 230px;

  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

  top: 264px;

  left: 22px;

  position: absolute;

  background-color: #d3d0c9;

  background-image: url(../img/Section4-Image3.png);

  background-size: cover;

  background-position: center center;

}

.col-12.Icons-Section.p-0 {

  padding-left: 380px !important;

  text-align: center;

  /* margin-top: 100px; */

}

h1.Icon-Heading {

  color: #1019d1;

  font-weight: 800;

  font-size: 52px;

}

p.Icon-Tag {

  font-size: 14px;

  font-weight: 700;

}

.col.box.p-0 {

  position: relative;

  padding-top: 20px !important;

  border-bottom: 1px solid #ccc;

  border-right: 1px solid #ccc;

}

.col.box.p-0::after {

  content: "";

  height: 15px;

  width: 15px;

  transform: rotate(45deg);

  background-color: #fff !important;

  position: absolute;

  border: 2px solid #ccc;

  bottom: -7px;

  z-index: 999;

  right: -8px;

}

.col.bottom-box.p-0 {

  padding-top: 20px !important;

}

.col.last-box.p-0 {

  padding-top: 20px !important;

  border-bottom: 1px solid #ccc;

}

.Section.Section-5.container-fluid.p-0 {

  background-image: url(../img/Section5-Image.png);

  background-size: cover;

  background-repeat: no-repeat;

  background-position: top;

}

.col-5.Text-Section {

  text-align: center;

  margin-top: 100px;

}

h1.Section5-Heading {

  color: #fff;

  font-style: italic;

  font-size: 65px;

  font-weight: 800;

}

.background-shape {

  background-image: url(../img/Shape.png);

  background-size: contain;

  background-repeat: no-repeat;

  color: #fff;

  margin-left: 141px;

  /* padding-top: 10px; */

  margin-top: -18px;

  height: 87px;

  width: 375px;

}

h1.Vinkup-Style {

  font-size: 60px;

  font-weight: 700;

  margin-left: -50px;
  
}

.row.m-0.Go-Section {

  padding-top: 70px !important;

  padding-left: 30px;

}

h1.Go-Heading {

  text-align: left;

  font-size: 100px;

  color: #fff;

  font-weight: 700;

  margin-top: 10px;

}

p.Email {

  color: #bbbbbb;

  text-align: center;

  font-size: 22px;

  font-weight: 500;

}

@media screen and (max-width: 768px) {

  .Section {

    min-height: auto !important;

  }

  .Slider-Text h1 {

    font-size: 26px;

  }

  .Slider-Text2 h1 {

    font-size: 26px;

  }

  .Slider-Text2 p {

    font-size: 12px;

  }

  .Slider-Text3 h1 {

    font-size: 26px;

  }

  .Slider-Text3 p {

    font-size: 12px;

  }

  .Text-Field {

    padding-left: 20px;

  }
  .Text-Heading h1 {

    font-weight: bolder;

    font-size: 30px;

  }

  .Text-Paragraph {

    margin-top: 20px;

    font-size: 13px;

  }

  button.btn.btn-secondary.Section3-button {

    margin-top: 25px;

    background: none;

    color: #000;

    padding: 10px 15px;

    border: solid 2px #000;

    border-radius: 0;

    font-size: 12px;

  }

  img.Section3-Image {

    height: 50vh;

  }

  .Image-Section.p-0 {

    position: absolute;

    top: 158px;

    transform: rotate(50deg);

    left: 57px;

  }

  .Section-4-Image-1 {

    height: 150px;

    width: 150px;

    top: 32px;
    
    left: 22px;

    position: absolute;

  }

  .Section-4-Image-2 {

    height: 150px;

    width: 150px;

    top: 107px;

    left: 99px;

    position: absolute;

  }

  .Section-4-Image-3 {

    height: 150px;

    width: 150px;

    top: 183px;

    left: 22px;

    position: absolute;

  }

  .col-12.Icons-Section.p-0 {

    padding-left: 0px !important;

    text-align: center;

  }

  h1.Icon-Heading {

    font-size: 30px;

    margin-top: 150px;

    position: relative;

    top: -100px;

    margin-left: 160px;

  }

  p.Icon-Tag {

    font-size: 8px;

    font-weight: 700;

  }

  .Icons-Section img {

    height: 48px;

  }

  .row.Section-4.m-0 {

    position: relative;

    top: 0;

  }

  h1.Section5-Heading {

    font-size: 35px;

  }

  h1.Vinkup-Style {

    font-size: 32px;

    margin-left: -20px;

  }

  .background-shape {

    background-image: url(../img/Shape.png);

    background-size: contain;

    background-repeat: no-repeat;

    color: #fff;

    margin-left: 96px;

    /* padding-top: 10px; */

    margin-top: -18px;

    height: 45px;

    width: 200px;

  }

  h1.Go-Heading {

    text-align: left;

    font-size: 50px;

    color: #fff;

    font-weight: 700;

    margin-top: 10px;

    margin-left: -14px;

  }

  img.Go-Button {

    height: 60px;

    margin-left: -20px;

  }

  p.Email {

    color: #bbbbbb;

    text-align: center;

    font-size: 11px;

    font-weight: 500;

  }

  .col-5.Text-Section {

    text-align: center;

    margin-top: 0px;

  }

  .Left-Section {

    padding-left: 0px;

  }

  .Right-Section p {

    font-size: 9px;

  }

  .Left-Section img {

    height: 50px;

  }

  .Left-Section p {

    font-size: 9px;

    margin-top: 21px;

  }

  .Footer-Menus {

    padding-left: 40px;

    margin-left: 0px;

  }

  h5.text {

    font-size: 15px;

  }

  .Footer {

    background-color: #efefef;

    min-height: 67vh;

  }

  .Copyright.text-center.p-3 {

    font-size: 11px;

    padding: 0 !important;

    margin: 0 !important;

  }

}

@media screen and (max-width: 425px) {

  .Copyright.text-center.p-3 {

    font-size: 11px;

    padding: 0 !important;

    margin: 0 !important;

    margin-bottom: -17px !important;

  }

  .Footer-Menus {

    padding-left: 0px !important;

  }

  h5.text {

    font-size: 11px;

  }

  ul.list-unstyled.mb-0 {

    font-size: 9px;

  }

  img.Footer-Go {

    height: 20px;

  }

  span.Go-Live-Text {

    color: #1019d1;

    font-weight: 700;

    font-size: 14px;

    position: absolute;

    margin-top: 3px;

  }

  .Right-Section p {

    font-size: 7px;

  }

  .Left-Section img {

    height: 40px;

  }

  .Left-Section p {

    font-size: 7px;

    margin-top: 21px;

  }

  h1.Section5-Heading {

    font-size: 18px;

  }

  h1.Vinkup-Style {

    font-size: 15px;

    margin-left: 1px;

  }

  h1.Section5-Heading {

    font-size: 18px;

  }

  img.Go-Button {

    height: 35px;

    margin-left: -20px;

  }

  h1.Go-Heading {

    text-align: left;

    font-size: 25px;

    color: #fff;

    font-weight: 700;

    margin-top: 9px;

    margin-left: 1px;

  }

  p.Email {

    color: #bbbbbb;

    text-align: center;

    font-size: 8px;

    font-weight: 500;

  }

  .row.m-0.Go-Section {

    padding-top: 20px !important;

    padding-left: 30px;

  }

  .Image-Section.p-0 {

    position: absolute;

    top: 45px;

    transform: rotate(50deg);

    left: 69px;

  }

  .Section-4-Image-1 {

    height: 105px;

    width: 105px;

    top: 32px;

    left: 22px;

    position: absolute;

  }

  .Section-4-Image-2 {

    height: 105px;

    width: 105px;

    top: 86px;

    left: 75px;

    position: absolute;

  }

  .Section-4-Image-3 {

    height: 105px;

    width: 105px;

    top: 140px;

    left: 21px;

    position: absolute;

  }

  h1.Icon-Heading {

    font-size: 18px;

    margin-top: 133px;

    position: relative;

    top: -100px;

    margin-left: 190px;

  }

  .Slider-Text2 h1 {

    color: #191acc;

    font-size: 16px;

    font-weight: 700;

    text-align: left;

    padding-top: 85px;

    padding-left: 10px;

  }

  .Slider-Text3 h1 {

    /* color: #191acc; */

    font-size: 16px;

    font-weight: 700;

    text-align: left;

    padding-top: 85px;

    padding-left: 10px;

  }

  .Slider-Text2 p {

    font-size: 9px;

    font-weight: 400;

    text-align: left;

    padding-left: 10px;

  }

  .Slider-Text3 p {

    font-size: 9px;

    font-weight: 400;

    text-align: left;

    padding-left: 10px;

  }

  .Text-Paragraph {

    margin-top: 20px;

    font-size: 6px;

  }

  .Text-Field {

    padding-top: 0px !important;

  }

  .Text-Heading h1 {

    font-weight: bolder;

    font-size: 15px;

  }

  .Slider-Text h1 {

    font-size: 14px;

    font-weight: 700;

    text-align: left;

    padding-top: 85px;

    padding-left: 10px;

  }

  img.Section3-Image {

    height: 170px !important;

    margin-top: 10px;

    margin-left: -10px;

    height: 40vh;

  }

  button.btn.btn-secondary.Section3-button {

    margin-top: 15px;

    background: none;

    color: #000;

    padding: 6px 11px;

    border: solid 2px #000;

    border-radius: 0;

    font-size: 10px;

  }

  .background-shape {

    background-image: url(../img/Shape.png);

    background-size: contain;

    background-repeat: no-repeat;

    color: #fff;

    margin-left: 35px;

    /* padding-top: 10px; */

    margin-top: -11px;

    height: 31px;

    width: 90px;
  
  }

  h1.Section5-Heading {

    font-size: 14px;

  }

  .Icons-Section img {

    height: 38px;

  }

  p.Icon-Tag {

    font-size: 7px;

    font-weight: 700;

  }

}

@media screen and (max-width: 380px) {

  .Footer {

    background-color: #efefef;

    min-height: auto;

  }

  h5.text {

    font-size: 9px;

    font-weight: bold;

  }

  ul.list-unstyled.mb-0 {

    font-size: 7px;

  }

  .Copyright.text-center.p-3 {

    font-size: 6px;

    padding: 0 !important;

    margin: 0 !important;

    margin-bottom: -17px !important;

  }

  .Right-Section p {

    font-size: 6px;

  }

  .Left-Section p {

    font-size: 6px;
    
    margin-top: 16px;

  }

  .background-shape {

    background-image: url(../img/Shape.png);

    background-size: contain;

    background-repeat: no-repeat;

    color: #fff;

    margin-left: 22px;

    margin-top: -11px;

    height: 31px;

    width: 90px;

  }

  h1.Go-Heading {

    text-align: left;

    font-size: 25px;

    color: #fff;

    font-weight: 700;

    margin-top: 5px;

    margin-left: 0px;

  }

  img.Go-Button {

    height: 30px;

    margin-left: -20px;

  }

  p.Email {

    color: #bbbbbb;

    text-align: center;

    font-size: 6px;

    font-weight: 500;

  }

  .Image-Section.p-0 {

    position: absolute;

    top: 21px;

    transform: rotate(50deg);

    left: 65px;

  }

  .Section-4-Image-1 {

    height: 100px;

    width: 100px;

    top: 32px;

    left: 22px;

    position: absolute;

  }

  .Section-4-Image-2 {

    height: 100px;

    width: 100px;

    top: 84px;

    left: 73px;

    position: absolute;

  }

  .Section-4-Image-3 {

    height: 100px;

    width: 100px;

    top: 135px;

    left: 21px;

    position: absolute;

  }

  .row.carousel-height.m-0 {

    min-height: 25vh;

  }

  .Slider-Text3 h1 {

    font-size: 12px;

    font-weight: 700;

    text-align: left;

    padding-top: 65px;

    padding-left: 10px;

  }

  .Slider-Text3 p {

    font-size: 6px;

    font-weight: 400;

    text-align: left;

    padding-left: 10px;

  }

  .Slider-Text h1 {

    font-size: 12px;

    font-weight: 700;

    text-align: left;

    padding-top: 65px;

    padding-left: 10px;

  }

  .Slider-Text2 h1 {

    color: #191acc;

    font-size: 12px;

    font-weight: 700;

    text-align: left;

    padding-top: 65px;

    padding-left: 10px;

  }

  .Slider-Text2 p {

    font-size: 6px;

    font-weight: 400;

    text-align: left;

    padding-left: 10px;

  }

  .col.box.p-0::after {

    content: "";

    height: 6px;

    width: 6px;

    transform: rotate(45deg);

    background-color: #fff !important;

    position: absolute;

    border: 2px solid #ccc;

    bottom: -4px;

    z-index: 999;

    right: -3px;

  }

  p.Icon-Tag {

    font-size: 6px;

    font-weight: 700;

  }

  .Icons-Section img {

    height: 35px;

  }

  .col-12.Icons-Section.p-0 {

    padding-left: 0px !important;

    text-align: center;

    margin-top: -50px;

  }

  h1.Icon-Heading {

    position: relative;

    top: 0;

    left: 0;

    margin: 0 !important;

    margin-top: 30px !important;

    margin-bottom: 20px !important;

  }

  .Image-Section.p-0 {

    display: none;

  }
  
  .row.Section-4.m-0 {

    position: relative;

    top: 10px;

  }

}
.animated .slideinleft {
animation-duration: 3s;
}